<template>
    <div :class="['card', className]">
        <a :href="getContentUrl(content)" @click="openModal(content, null, rootContent)">
            <div class="img-container"><img class="card-img" :src="getImageUri('58ff27c9f5ac761adc394a80', imageSize, '0')" :alt="content.Files[0].Metadata.Title" v-lazy-img="getImageUri(content.Files[0]._Id, imageSize)"/></div>
            <div class="card-block">
                <div class="card-caption">
                    <h2 class="card-title" v-text="content.Title"></h2>
                    <p class="card-text" v-if="content.Description && content.Description.length > 0 && content.DescriptionShow" v-text="content.Description"></p>
                </div>
                <p class="card-text" v-if="content.Ancestors.length > 0">
                    <small v-text="content.Ancestors[0].Title"></small>
                </p>
            </div>
        </a>
    </div>
</template>

<script>
  import { helperMixin } from '~/mixins/helper'

  export default {
    mixins: [helperMixin],
    data () {
      return {
        content: this.data.Content,
        rootContent: this.rootData
      }
    },
    props: {
      className: {
        type: String,
        default: ''
      },
      imageSize: {
        type: String,
        default: '0x0'
      },
      data: {
        type: Object,
        default () {
          return {}
        }
      },
      rootData: {
        type: Array,
        default () {
          return []
        }
      }
    },
    directives: {
      lazyImg: {
        bind (el, binding, vnode) {
          var img = new Image()
          img.src = binding.value

          img.onload = function () {
            el.src = binding.value
            el.style.opacity = 1
          }
        }
      }
    }
  }
</script>
