<template>
    <div>
        <transition-group enter-class=""
                          enter-to-class=""
                          enter-active-class=""
                          leave-class="show"
                          leave-active-class=""
                          leave-to-class="hidden"
                          v-on:after-enter="afterEnter">

            <div key="modal" :id="modalId" v-show="visible" :class="['modal', { 'fade': fade }]" @click="onClickOut($event)">
                <div :class="['modal-dialog', 'modal-' + size]">
                    <div class="modal-content">
                        <button type="button" class="close" @click="closeModal()">
                            <i class="ds-icon ds-icon-cancel"></i>
                        </button>
                        <div class="modal-body">
                            <component v-if="content" :is="content.CustomType" :data="content"></component>
                        </div>
                        <div class="modal-footer" v-if="hasFooter">
                            <a href="javascript:;" @click="share('facebook')" class="btn btn-social facebook">
                                <i class="ds-icon ds-icon-facebook"></i> PAYLAŞ
                            </a>
                            <a href="javascript:;" @click="share('twitter', content.Title)" class="btn btn-social twitter">
                                <i class="ds-icon ds-icon-twitter"></i> TWEET'LE
                            </a>
                        </div>
                    </div>
                </div>
            </div>
            <div key="modal-backdrop" :class="['modal-backdrop', { 'fade': fade }]" v-if="visible"></div>
        </transition-group>
    </div>
</template>

<style scoped>
    .hidden {
        opacity: 0 !important;
    }

    /* Make modal display as block instead of inline style, and because Vue's v-show deletes inline "display" style*/
    .modal {
        display: block;
    }
</style>

<script>
  import PhotoGallery from '~components/modals/PhotoGallery'
  import VideoContent from '~components/modals/Video'
  import Artist from '~components/modals/Artist'
  import Detail from '~components/modals/Detail'
  import { helperMixin } from '~/mixins/helper'

  export default {
    mixins: [helperMixin],
    props: {
      size: {
        type: String,
        default: 'lg'
      },
      fade: {
        type: Boolean,
        default: true
      },
      closeOnBackdrop: {
        type: Boolean,
        default: true
      }
    },
    methods: {
      closeModal () {
        this.$router.go(-1)
        this.$store.dispatch('modal/close')
      },
      onClickOut (e) {
        if (this.closeOnBackdrop && e.target.id && e.target.id === this.modalId) {
          this.closeModal()
        }
      },
      afterEnter (el) {
        el.classList.add('show')
      }
    },
    computed: {
      modalId () {
        return this.$store.getters['modal/getId']
      },
      content () {
        return this.$store.getters['modal/getContent']
      },
      visible () {
        return this.$store.getters['modal/getModalState']
      },
      hasFooter () {
        return this.$store.getters['modal/hasFooter']
      }
    },
    components: {
      PhotoGallery,
      VideoContent,
      Artist,
      Detail
    }
  }
</script>
