.alert {
  background-color: $input-bg-color !important;
  border-radius: 0;
  &.alert-success {
    border-color: $state-success-border;
  }
  &.alert-danger {
    border-color: $red-light;
  }
  .ds-icon {
    font-size: 3rem;
    margin-right: 10px;
  }
}