.btn-group {
  &.social-buttons {
    display: table;
    width: 100%;
    .btn {
      border-radius: 0;
      color: #FFFFFF;
      display: table-cell;
      vertical-align: middle;
      height: 65px;
      width: 33%;
      &.facebook {
        background-color: $facebook-color;
      }
      &.twitter {
        background-color: $twitter-color;
      }
      &.instagram {
        background-color: $instagram-color;
      }
      .ds-icon {
        font-size: 24px;
      }
    }
  }

  @include media-breakpoint-only(md) {
    &.social-buttons {
      .btn {
        height: 50px;
      }
    }
  }

  @include media-breakpoint-only(lg) {
    &.social-buttons {
      .btn {
        height: 60px;
      }
    }
  }
}

.btn-outline-primary {
  &.focus, &:focus {
    box-shadow: none;
  }
  &:active {
    background-color: $gray-darkest;
  }
}

.modal {
  .btn {
    &.btn-social {
      font-size: 10px;
      font-weight: 600;
      font-family: Arial;
      border-radius: 0;
      letter-spacing: 0;
      color: #FFFFFF;
      height: 40px;
      padding: 0 15px 0 0;
      line-height: 40px;
      border: none;
      .ds-icon {
        height: 40px;
        width: 40px;
        line-height: 40px;
        margin-right: 15px;
        display: inline-block;
        font-size: 14px;
      }
    }
    &.facebook {
      background-color: $facebook-color;
      .ds-icon {
        background-color: darken($facebook-color, 15%);
      }
    }
    &.twitter {
      background-color: $twitter-color;
      .ds-icon {
        background-color: darken($twitter-color, 15%);
      }
    }
  }
}