.card {
  border: none;
  border-radius: 0;
  &.card-inverse {
    &.overlay {
      .card-block {
        .card-title, .card-text {
          text-align: left;
          color: #fff;
          height: auto;
        }
        .card-caption {
          .card-text {
            display: none;
          }
        }
        .card-text {
          small {
            display: block;
          }
        }
      }
    }
  }
  &.overlay {
    .card-block {
      display: block;
      position: absolute;
      bottom: 0;
      left: 0;
      right: 0;
      background: -moz-linear-gradient(top, rgba(0, 0, 0, 0) 0%, rgba(0, 0, 0, 0.5) 100%);
      background: -webkit-linear-gradient(top, rgba(0, 0, 0, 0) 0%, rgba(0, 0, 0, 0.5) 100%);
      background: linear-gradient(to bottom, rgba(0, 0, 0, 0) 0%, rgba(0, 0, 0, 0.5) 100%);
      .card-title, .card-text {
        display: block;
        color: $gray-lightest;
        text-align: center;
        height: auto;
      }
      .card-text {
        small {
          display: none;
        }
      }
    }
  }
  &.split {
    .img-container {
      display: table-cell;
    }
    .card-block {
      padding: 20px 25px 0;
      width: 50%;
      display: table-cell;
      vertical-align: top;
      .card-title {
        height: auto;
      }
      .card-caption {
        height: 135px;
        overflow: hidden;
        text-align: left;
        .card-title {
          font-size: $font-size-h4;
        }
      }
      .card-text {
        small {
          position: absolute;
          bottom: 10px;
          right: 15px;
          display: block;
        }
      }
    }
    @include media-breakpoint-down(sm) {
      .img-container {
        display: block;
      }
      .card-block {
        display: block;
        width: 100%;
        .card-caption {
          height: auto;
          margin-bottom: 10px;
        }
        .card-text {
          small {
            position: relative;
            margin-bottom: 10px;
            bottom: 0;
            right: 0;
            display: block;
          }
        }
      }
    }
    @include media-breakpoint-only(md) {
      .card-block {
        .card-caption {
          height: auto;
          .card-text {
            display: none;
          }
        }
      }
    }
    @include media-breakpoint-only(lg) {
      .card-block {
        .card-caption {
          height: 115px;
        }
      }
    }
  }
  &.detail {
    margin-bottom: 6px;
    .card-block {
      padding: 20px 25px;
      .card-title {
        height: auto;
      }
      .card-caption {
        height: 280px;
        overflow: hidden;
      }
      .card-text {
        small {
          font-size: $font-size-h5;
          margin-top: 5px;
          display: block;
        }
      }
      .btn-continue {
        display: none;
        &.active {
          display: block;
        }
      }
    }

    @include media-breakpoint-down(lg) {
      .card-block {
        .btn-continue {
          display: block;
        }
      }
    }

    @include media-breakpoint-down(sm) {
      .card-block {
        .card-caption {
          height: 160px;
        }
        .btn-continue {
          display: none;
        }
      }
    }

    @include media-breakpoint-only(md) {
      .card-block {
        padding: 10px 15px;
        .card-caption {
          height: 154px;
        }
      }
    }

    @include media-breakpoint-only(lg) {
      .card-block {
        .card-caption {
          height: 214px;
        }
      }
    }
  }
  &.artist {
    .card-block {
      .card-caption {
        display: flex;
        flex-direction: column;
        .card-title {
          height: auto;
          order:1;
          font-size: $font-size-h4;
        }
      }
    }

    @include media-breakpoint-down(sm) {
      .card-block {
        min-height: 95px;
      }
    }
  }
  .card-link {
    color: inherit;
    text-decoration: none;
  }
  .card-icon {
    position: absolute;
    top: 10px;
    left: 10px;
    z-index: 1;
    color: #fff;
  }
  .img-container {
    background-color: #1a1a1a;
    background-image: url('../img/place_logo.png');
    background-repeat: no-repeat;
    background-position: center;
    img {
      max-width: 100%;
      height: auto;
      border-radius: 0;
      opacity: 0;
      -webkit-transition: all 1s ease-in-out;
      -moz-transition: all 1s ease-in-out;
      -o-transition: all 1s ease-in-out;
      transition: all 1s ease-in-out;
    }
  }
  .card-block {
    color: #000000;
    padding: 10px;
    display: table;
    width: 100%;
    .card-title {
      font-size: $font-size-h3;
      font-weight: $font-weight-bold;
      margin-bottom: 0;
      vertical-align: middle;
      width: 100%;
      height: 58px;
      overflow: hidden;
    }
    .card-text {
      font-size: $font-size-h5;
      small {
        color: $red-light;
        font-weight: $font-weight-semibold;
        display: none;
      }
    }
  }

  @include media-breakpoint-down(sm) {
    .img-container {
      img {
        width: 100%;
      }
    }
  }
}