html {
  height: 100%;
}

body {
  min-height: 100%;
  position: relative;
  padding-bottom: 10rem;
}

.no-gutters {
  margin-right: 0;
  margin-left: 0;
  > .col,
  > [class*="col-"] {
    padding-right: 0;
    padding-left: 0;
  }
}

.page-enter-active, .page-leave-active {
  transition: opacity .5s;
}

.page-enter, .page-leave-active {
  opacity: 0;
}

.fade-enter-active, .fade-leave-active {
  transition: opacity .5s
}
.fade-enter, .fade-leave-to /* .fade-leave-active in <2.1.8 */ {
  opacity: 0
}

.heading-img {
  width: 100%;
  display: block;
  text-align: center;
  max-height: 260px;
  overflow: hidden;
  margin-bottom: 40px;

  @include media-breakpoint-down(sm) {
    margin-bottom: 20px;
  }
}

.contact-text {
  border-left: 1px solid #363636;
  padding-left: 40px;
  height: 100%;
  .title {
    font-weight: $font-weight-bold;
    color: $red;
    margin-bottom: 0;
  }
  @include media-breakpoint-only(xs) {
    border:none;
    padding-left: 0;
    height: auto;
  }
}