.container {
  .page-title {
    color: $gray-light;
    font-weight: $font-weight-extrabold;
    text-transform: uppercase;
  }
  &.page {
    margin-top: 25px;
  }
}

@include media-breakpoint-only(xs) {
  .container {
    margin-left: 0;
    margin-right: 0;
  }
}

@include media-breakpoint-only(sm) {
}

@include media-breakpoint-only(md) {
}

@include media-breakpoint-only(lg) {
}

@include media-breakpoint-only(xl) {

}