form {
  .form-group {
    margin-bottom: 2rem;

    &.has-error {
      .form-control {
        border-color: $red;
        &:focus {
          border-color: $red;
        }
      }
      .form-control-feedback {
        font-size: $font-size-h5;
        color: $red-light;
      }
    }
    .form-control {
      background-color: $input-bg-color;
      border-color: $input-bg-color;
      border-radius: 0;
      padding: 0.9375rem 1rem;
      color: $gray-lighter;
      &:focus {
        background-color: $input-bg-color;
        border-color: $gray;
        color: $gray-lighter;
      }
      &::-webkit-input-placeholder { /* Chrome/Opera/Safari */
        color: $gray-light;
        font-size: $font-size-h4;
        opacity: .6;
      }
      &::-moz-placeholder { /* Firefox 19+ */
        color: $gray-light;
        font-size: $font-size-h4;
      }
      &:-ms-input-placeholder { /* IE 10+ */
        color: $gray-light;
        font-size: $font-size-h4;
      }
      &:-moz-placeholder { /* Firefox 18- */
        color: $gray-light;
        font-size: $font-size-h4;
      }
    }
    .form-control-feedback {
      position: absolute;
      top: 100%;
      margin-top: 0;
    }
    @include media-breakpoint-down(sm) {
      &.has-error {
        margin-bottom: 3rem;
      }
    }
  }
  .btn-submit {
    font-size: $font-size-h5;
    font-weight: $font-weight-bold;
    color: #FFFFFF;
    background-color: $red;
    border-radius: 0;
    border: none;
    padding: 0.625rem 1.875rem;
    cursor: pointer;
    &:focus {
      box-shadow: inset 0 0 3px 0 #000000;
    }
  }
}