.ds-icon {
  /* use !important to prevent issues with browser extensions that change fonts */
  font-family: 'DarkStoryIcon' !important;
  speak: none;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;
  vertical-align: middle;
  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  &.ds-icon-lg {
    font-size: (4em / 3);
    line-height: (3em / 4);
    //vertical-align: -15%;
  }
  &.ds-icon-2x {
    font-size: 2em;
  }
  &.ds-icon-3x {
    font-size: 3em;
  }
  &.ds-icon-4x {
    font-size: 4em;
  }
  &.ds-icon-5x {
    font-size: 5em;
  }
  &.ds-icon-back {
    &:before {
      content: $icon-back;
    }
  }
  &.ds-icon-next {
    &:before {
      content: $icon-next;
    }
  }
  &.ds-icon-cancel {
    &:before {
      content: $icon-cancel;
    }
  }
  &.ds-icon-video-camera {
    &:before {
      content: $icon-video-camera;
    }
  }
  &.ds-icon-backward {
    &:before {
      content: $icon-backward;
    }
  }
  &.ds-icon-play {
    &:before {
      content: $icon-play;
    }
  }
  &.ds-icon-forward {
    &:before {
      content: $icon-forward;
    }
  }
  &.ds-icon-twitter {
    &:before {
      content: $icon-twitter;
    }
  }
  &.ds-icon-facebook {
    &:before {
      content: $icon-facebook;
    }
  }
  &.ds-icon-facebook-f {
    &:before {
      content: $icon-facebook-f;
    }
  }
  &.ds-icon-bars {
    &:before {
      content: $icon-bars;
    }
  }
  &.ds-icon-navicon {
    &:before {
      content: $icon-navicon;
    }
  }
  &.ds-icon-reorder {
    &:before {
      content: $icon-reorder;
    }
  }
  &.ds-icon-youtube {
    &:before {
      content: $icon-youtube;
    }
  }
  &.ds-icon-instagram {
    &:before {
      content: $icon-instagram;
    }
  }
  &.ds-icon-newspaper-o {
    &:before {
      content: $icon-newspaper-o;
    }
  }
  &.ds-icon-chevron-left {
    &:before {
      content: $icon-chevron-left;
    }
  }
  &.ds-icon-chevron-right {
    &:before {
      content: $icon-chevron-right;
    }
  }
  &.ds-icon-camera {
    &:before {
      content: $icon-camera;
    }
  }
  &.ds-icon-check-circle-o {
    &:before {
      content: $icon-check-circle-o;
    }
  }
  &.ds-icon-circle-check {
    &:before {
      content: $icon-circle-check;
    }
  }
  &.ds-icon-circle-close {
    &:before {
      content: $icon-circle-close;
    }
  }
}