.modal {
  .modal-dialog {
    margin-top: 150px;
    .modal-content {
      background-color: $modal-bg-color;
      border-radius: 0;
      .close {
        width: 60px;
        height: 47px;
        color: $red-light;
        opacity: 1;
        text-shadow: none;
        background-color: $modal-bg-color;
        position: absolute;
        top: 0;
        right: -59px;
        font-size: 30px;
        &:focus {
          outline: none;
        }
      }
      .modal-body {
        padding: 20px;
        color: #FFFFFF;
        .title {
          color: $gray-light;
          font-size: $font-size-h2;
          font-weight: $font-weight-bold;
        }
        small {
          color: $red-light;
          display: inline-block;
        }
        p {
          font-size: $font-size-h5;
        }
      }
      .modal-footer {
        border: none;
      }
    }
  }

  @include media-breakpoint-down(sm) {
    .modal-dialog {
      margin-top: 60px;
      .modal-content {
        .modal-body {
          overflow: hidden;

		  iframe { width: 100%; }
        }
        .close {
          top: -47px;
          right: 0;
        }
      }
    }
  }
}

.modal-backdrop {
  background-color: #000;
}
