body {
  background: $body-bg;
  &.sidenav-open {
    overflow: hidden;
    .sidenav {
      transform: translateX(0);
    }
    .sidenav-overlay {
      opacity: 1;
      visibility: visible;
    }
  }
  @include media-breakpoint-down(sm) {
    &.sidenav-open {
      .sidenav {
        width: 100%;
      }
    }
  }
}

.sidenav {
  height: 100%;
  width: 360px;
  position: fixed;
  z-index: 10001;
  top: 0;
  transform: translateX(-360px);
  background-color: #111;
  overflow-x: hidden;
  padding: 55px 40px;
  transition: .5s;
  .nav-item {
    padding: 13px 0;
    text-decoration: none;
    font-size: $font-size-h2;
    text-transform: uppercase;
    color: #484848;
    display: block;
    transition: 0.3s;
    border-bottom: 1px solid #232323;
    &:hover {
      color: #aaa;
    }
    &.title {
      color: $red;
      font-weight: bold;
      font-size: 24px;
      border-bottom: none;
    }
  }
  .closebtn {
    position: absolute;
    top: 60px;
    right: 35px;
    font-size: 26px;
    color: $red;
  }
  .social-menu {
    border-bottom: none;
    a {
      color: $gray-light;
      margin-right: 20px;
    }
  }
}

.sidenav-overlay {
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, .5);
  position: fixed;
  top: 0;
  left: 0;
  z-index: 10000;
  opacity: 0;
  visibility: hidden;
  transition: .5s;
}

header {
  .navbar {
    background-color: #181818;
    a {
      color: #8e8e8e !important;
      transition: .3s;
      &:hover,
      &:focus {
        color: #FFF !important;
        text-decoration: none;
      }
    }
    .navbar-brand {
      margin-right: 0;
    }
    .social-menu {
      > a {
        margin-right: 20px;
        &:last-child {
          margin-right: 0;
        }
      }
    }
  }

  @include media-breakpoint-down(md) {
    .navbar {
      .navbar-brand {
        img {
          height: 40px;
        }
      }
    }
  }
}

footer {
  margin-top: 50px;
  position: absolute;
  right: 0;
  bottom: 0;
  left: 0;
  .navbar {
    background-color: $gray-darkest;
    padding: 20px;

    .navbar-text {
      display: block;
      color: #4f4e4e;

	  p { margin: 0; display: inline-block; }
    }
  }

  @include media-breakpoint-down(sm) {
    .navbar {
      .navbar-text {
        text-align: center;

		p { display: block; }
      }
    }
  }
}
