section {
  &.content-slider {
    position: relative;
    margin-top: 50px;
    .swiper-wrapper {
      -webkit-box-sizing: border-box;
      -moz-box-sizing: border-box;
      box-sizing: border-box;
      .swiper-slide {
        width: auto;
      }
    }
    .swiper-navigation {
      position: absolute;
      top: 3px;
      right: 0;
      .next-button, .prev-button {
        display: inline-block;
        background-color: #2d2d2d;
        padding: 5px 10px;
        border-radius: 3px;
        &:hover, &:focus {
          color: $red;
        }
        .ds-icon {
          font-weight: $font-weight-bold;
          pointer-events: none;
        }
      }
      .next-button {
        margin-left: 10px;
      }
    }
  }
  &.content {
    background-color: $gray-dark;
    padding: 25px;
  }

  @include media-breakpoint-down(sm) {
    &.content {
      padding: 15px;
    }
  }
}
