.swiper-container {
  width: 100%;
  .swiper-slide {
    text-align: center;
    font-size: 18px;
    width: auto;
    background-color: #000;
    background-size: auto 100%;
    background-position: center;
    background-repeat: no-repeat;
    /* Center slide text vertically */
    display: -webkit-box;
    display: -ms-flexbox;
    display: -webkit-flex;
    display: flex;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    -webkit-justify-content: center;
    justify-content: center;
    -webkit-box-align: center;
    -ms-flex-align: center;
    -webkit-align-items: center;
    align-items: center;
    .info {
      position: absolute;
      bottom: 45px;
      left: 0;
      right: 0;
      .text-container {
        margin-left: 8%;
        text-align: left;
        color: #FFFFFF;
        .title {
          font-weight: $font-weight-semibold;
        }
      }
    }

  }
  .prev-button, .next-button {
    background-image: none;
    color: #FFFFFF;
    opacity: .6;
  }
  .next-button {
    right: 35px;
  }

  @include media-breakpoint-down(sm) {
    .swiper-slide {
      .info {
        display: none;
      }
    }
    .prev-button, .next-button {
      display: none;
    }
  }
}

.swiper-navigation {
  .prev-button, .next-button {
    &.swiper-button-disabled {
      opacity: .5;
    }
  }
}

.serie-detail-slider {
  .swiper-container {
    .swiper-slide {
      .info {
        bottom: 60px;
        display: block;
        width: 100%;
        z-index: 2;
        text-align: left;
        .text-container {
          display: inline-block;
          padding-left: 10%;
          margin-left: 0;
          width: 60%;
          .title {
            font-size: $font-size-h2;
            font-weight: $font-weight-bold;
            text-shadow: 1px 1px 1px rgba(0, 0, 0, .45);
          }
          .detail {
            font-size: 1rem;
            margin-bottom: 0;
          }
        }
        .action {
          display: inline-block;
          padding-left: 20px;
          .btn {
            color: #FFFFFF;
            border-color: #FFFFFF;
            text-shadow: 1px 1px 1px rgba(0, 0, 0, .45);
            &:hover {
              background-color: transparent;
            }
          }
        }
      }
      .overlay {
        position: absolute;
        z-index: 1;
        width: 100%;
        height: 100%;
        background: -moz-linear-gradient(top, rgba(255, 255, 255, 0) 50%, rgba(0, 0, 0, 0.3) 100%);
        background: -webkit-linear-gradient(top, rgba(255, 255, 255, 0) 50%, rgba(0, 0, 0, 0.3) 100%);
        background: linear-gradient(to bottom, rgba(255, 255, 255, 0) 50%, rgba(0, 0, 0, 0.3) 100%);
      }
    }
  }

  @include media-breakpoint-down(md) {
    .swiper-container {
      .swiper-slide {
        .info {
          display: table;
          bottom: 30px;
          text-align: center;
          .action {
            padding-left: 0;
          }
        }
      }
      .prev-button, .next-button {
        display: block;
      }
    }
  }
}

.main-slider {
  margin: 0 auto;
  margin-bottom: 20px;
  max-width: 1600px;
  .swiper-container {
    max-height: 520px;
    .swiper-slide {
      .info {
        .text-container {
          .title {
            margin-bottom: 30px;
          }
          ul {
            display: inline-block;
            margin: 0;
            > li {
              > a {
                color: white;
                font-size: $font-size-h3;
                display: block;
                margin-bottom: 15px;
                .ds-icon {
                  border: 2px solid;
                  padding: 3px;
                  display: inline-block;
                  text-align: center;
                  width: 18px;
                  font-size: 14px;
                  vertical-align: text-bottom;
                }
              }
            }
          }
        }
      }
    }
    .pagination-bullets {
      text-align: right;
      padding-right: 20px;
      bottom: 20px;
      width: auto;
      left: inherit;
      right: 0;
      .swiper-pagination-bullet {
        width: 15px;
        height: 15px;
        opacity: .6;
        background-color: #FFFFFF;
        &.swiper-pagination-bullet-active {
          background-color: $red;
          opacity: 1;
        }
      }
    }
    .navigation-container {
      width: 1600px;
      max-width: 100%;
      height: 100%;
      margin: 0 auto;
      position: absolute;
      top: 0;
      left: 50%;
      transform: translateX(-50%);
      -webkit-transform: translateX(-50%);
      -moz-transform: translateX(-50%);
      -o-transform: translateX(-50%);
      z-index: 1;
      pointer-events: none;
    }
  }

  @include media-breakpoint-down(sm) {
    .swiper-container {
      .pagination-bullets {
        bottom: 10px;
      }
    }
  }

  @include media-breakpoint-down(lg) {
    .swiper-container {
      .swiper-slide {
        .info {
          bottom: 0;
        }
      }
    }
  }

  @include media-breakpoint-only(md) {
    .swiper-container {
      .swiper-slide {
        .text-container {
          .title {
            font-size: $font-size-h3;
            margin-bottom: 15px;
          }
          ul > li > a {
            font-size: $font-size-h5;
            .ds-icon {
              font-size: 10px;
              width: 15px;
            }
          }
        }
      }
    }
  }
}

.modal {
  .swiper-container {
    &.artist-gallery {
      .swiper-wrapper {
        box-sizing: border-box;
      }
      .swiper-slide {
        text-align: inherit;
        background-color: transparent;
        padding-left: 40px;
        padding-right: 40px;
      }
      .prev-button, .next-button {
        display: inline-block;
        background-color: #2d2d2d;
        padding: 5px 10px;
        border-radius: 3px;
        opacity: 1;
        width: 25px;
        height: 40px;
        top: 160px;
        .ds-icon {
          color: $red;
          font-weight: $font-weight-bold;
          position: absolute;
          top: 50%;
          left: 50%;
          transform: translate(-50%, -50%);
          -webkit-transform: translate(-50%, -50%);
          -moz-transform: translate(-50%, -50%);
          -o-transform: translate(-50%, -50%);
        }
      }
    }
    .swiper-slide {
      background-color: transparent;
    }
    .prev-button {
      left: 0;
    }
    .next-button {
      right: 0;
    }
    .prev-button, .next-button {
      background-color: rgba(0, 0, 0, .6);
      color: #FFFFFF;
      opacity: 1;
      width: 45px;
      height: 80px;
      .ds-icon {
        font-size: $font-size-h3;
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        -webkit-transform: translate(-50%, -50%);
        -moz-transform: translate(-50%, -50%);
        -o-transform: translate(-50%, -50%);
      }
    }
  }
  @include media-breakpoint-down(sm) {
    .swiper-container {
      .prev-button, .next-button {
        display: block;
        width: 30px;
        height: 40px;
      }
    }
  }
}