//Colors
$red: #a81816 !default;
$red-light: #c11614 !default;
$gray-darkest: #181818 !default;
$gray-dark: #242424 !default;
$gray: #424242 !default;
$gray-light: #747373 !default;
$gray-lighter: #8d8d8d !default;
$gray-lightest: #dddddd !default;
$input-bg-color: #1a1a1a !default;
$facebook-color: #4d6baa !default;
$twitter-color: #0fb6ff !default;
$instagram-color: #e2840a !default;
$modal-bg-color: #101010 !default;

//Body
$body-bg: #000 !default;
$body-color: $gray-light !default;

//Links
$link-color: $red !default;
$link-hover-decoration: none !default;

//Grid
$grid-gutter-width-base: 20px !default;

//Fonts
$font-family-sans-serif: 'Open Sans', sans-serif !default;

$font-weight-extrabold: 800 !default;
$font-weight-bold: 700 !default;
$font-weight-semibold: 600 !default;

$font-size-h1: 1.5rem !default;
$font-size-h2: 1.375rem !default;
$font-size-h3: 1.125rem !default;
$font-size-h4: 1rem !default;
$font-size-h5: 0.875rem !default;
$font-size-h6: 0.75rem !default;

//Heading
$headings-line-height: 1.625 !default;

//Alerts
$state-success-border: #209D5F !default;

//Icons
$icon-back: "\e900" !default;
$icon-next: "\e901" !default;
$icon-cancel: "\e902" !default;
$icon-video-camera: "\f03d" !default;
$icon-backward: "\f04a" !default;
$icon-play: "\f04b" !default;
$icon-forward: "\f04e" !default;
$icon-twitter: "\f099" !default;
$icon-facebook: "\f09a" !default;
$icon-facebook-f: "\f09a" !default;
$icon-bars: "\f0c9" !default;
$icon-navicon: "\f0c9" !default;
$icon-reorder: "\f0c9" !default;
$icon-youtube: "\f167" !default;
$icon-instagram: "\f16d" !default;
$icon-newspaper-o: "\f1ea" !default;
$icon-chevron-left: "\f053" !default;
$icon-chevron-right: "\f054" !default;
$icon-camera: "\f030" !default;
$icon-check-circle-o: "\f05d" !default;
$icon-circle-check: "\e903";
$icon-circle-close: "\e904";