<template>
    <div>
        <layout-header :data="header"/>
        <main>
            <nuxt/>
        </main>
        <layout-footer :data="footer"/>
        <modal/>
    </div>
</template>


<script>
  import LayoutHeader from '~components/layouts/Header.vue'
  import LayoutFooter from '~components/layouts/Footer.vue'
  import Modal from '~components/Modal.vue'

  export default {
    mounted () {
      let hashKey = location.hash.split('#')[1]
      if (hashKey) {
        this.$store.dispatch('modal/fetchIxName', hashKey)
      }
    },
    computed: {
      header () {
        return this.$store.getters['getHeader']
      },
      footer () {
        return this.$store.getters['getFooter']
      }
    },
    middleware: ['sideNavCheck', 'layoutData'],
    components: {
      LayoutHeader,
      LayoutFooter,
      Modal
    }
  }
</script>
