<template>
    <div>
        <component v-if="componentName" :is="componentName"></component>
    </div>
</template>
<script>
  import ContentDetailText from '~components/templates/ContentDetailText'
  import Detail from '~components/templates/Detail'

  export default {
    async fetch ({store, route, redirect}) {
      try {
        await store.dispatch('component/fetch', route.path)
      } catch (e) {
        return redirect('/404')
      }
    },
    computed: {
      componentName () {
        return this.$store.getters['component/getTemplateName']
      }
    },
    components: {
      ContentDetailText,
      Detail
    }
  }
</script>
