<template>
    <div class="container">
        <h1 class="text-center mt-5">{{ error }}</h1>
    </div>
</template>

<script>
  export default {
    data () {
      return {
        error: '404 - Sayfa bulunamadı'
      }
    }
  }
</script>
