<template>
    <div>
        <main-slider v-if="regions[0].IxName === 'Headline'" :data="regions[0].Controls[0].ContentViews"></main-slider>
        <div class="container">
            <div v-for="region in regions">
                <section-slider v-if="isSlider(region.IxName)" :data="region.Controls[0]" :title="region.Name"></section-slider>
            </div>
        </div>
    </div>
</template>

<script>
  import MainSlider from '~components/controls/MainSlider'
  import SectionSlider from '~components/controls/SectionSlider'

  export default {
    async fetch ({store, route, redirect}) {
      try {
        await store.dispatch('component/fetch', route.path)
      } catch (e) {
        redirect('/404')
      }
    },
    computed: {
      regions () {
        return this.$store.getters['component/getRegions']
      }
    },
    methods: {
      isSlider (name) {
        return name === 'Introduction' || name === 'PhotoGallery' || name === 'Artist' || name === 'Featured'
      }
    },
    components: {
      MainSlider,
      SectionSlider
    }
  }
</script>
