<template>
    <div>
        <div v-if="rootContent" v-swiper:artistSwiper="swiperOption" class="swiper-container artist-gallery">
            <div class="swiper-wrapper">
                <div class="swiper-slide" v-for="artist in rootContent">
                    <div class="row">
                        <div class="col-xs-12 col-sm-6 col-md-4">
                            <img :src="getImageUri(artist.Content.Files[0].id)" class="img-fluid"/>
                        </div>
                        <div class="col-xs-12 col-sm-6 col-md-8">
                            <h2 class="title mb-0" v-text="artist.Content.Title"></h2>
                            <small v-if="artist.Content.Description" v-text="artist.Content.Description" class="mb-2"></small>
                            <div v-if="artist.Content.Text" v-html="artist.Content.Text"></div>
                        </div>
                    </div>
                </div>
            </div>
            <!-- If we need navigation buttons -->
            <div class="swiper-button-prev prev-button">
                <i class="ds-icon ds-icon-back"></i>
            </div>
            <div class="swiper-button-next next-button">
                <i class="ds-icon ds-icon-next"></i>
            </div>
        </div>
        <div v-if="!rootContent">
            <div class="row">
                <div class="col-xs-12 col-sm-6 col-md-4">
                    <img :src="getImageUri(data.Files[0].id)" class="img-fluid"/>
                </div>
                <div class="col-xs-12 col-sm-6 col-md-8">
                    <h2 class="title mb-0" v-text="data.Title"></h2>
                    <small v-if="data.Description" v-text="data.Description" class="mb-2"></small>
                    <div v-if="data.Text" v-html="data.Text"></div>
                </div>
            </div>
        </div>
    </div>
</template>

<script>
  import { helperMixin } from '~/mixins/helper'

  export default {
    mixins: [helperMixin],
    data () {
      return {
        swiperOption: {
          nextButton: '.swiper-button-next',
          prevButton: '.swiper-button-prev',
          spaceBetween: 20,
          speed: 800,
          loop: true,
          autoHeight: true,
          simulateTouch: false
        }
      }
    },
    mounted () {
      if (this.rootContent && this.rootContent.length > 0) {
        let activeSlideIndex = this.rootContent.findIndex((x) => x.Content.id === this.data.id) + 1
        this.artistSwiper.slideTo(activeSlideIndex, 0, false)
      }
    },
    computed: {
      rootContent () {
        return this.$store.getters['modal/getRootContent']
      }
    },
    props: ['data']
  }
</script>
