<template>
    <div>
        <h2 class="title" v-text="data.Title"></h2>
        <div v-html="data.Text"></div>
    </div>
</template>

<script>
  import { helperMixin } from '~/mixins/helper'

  export default {
    mixins: [helperMixin],
    props: ['data']
  }
</script>
