<template>
    <div>
        <div v-swiper:photoGallerySwiper="swiperOption">
            <div class="swiper-wrapper">
                <div class="swiper-slide" v-for="file in data.Files">
                    <img :src="getImageUri(file.id)" class="img-fluid">
                </div>
            </div>
            <!-- If we need navigation buttons -->
            <div class="swiper-button-prev prev-button">
                <i class="ds-icon ds-icon-chevron-left"></i>
            </div>
            <div class="swiper-button-next next-button">
                <i class="ds-icon ds-icon-chevron-right"></i>
            </div>
        </div>
        <h2 class="title mb-0 mt-1" v-if="data.Title" v-text="data.Title"></h2>
        <small v-if="data.Ancestors && data.Ancestors.length > 0" v-text="data.Ancestors[0].Title"></small>
    </div>
</template>

<script>
  import { helperMixin } from '~/mixins/helper'

  export default {
    mixins: [helperMixin],
    data () {
      return {
        swiperOption: {
          nextButton: '.swiper-button-next',
          prevButton: '.swiper-button-prev',
          spaceBetween: 20,
          speed: 800,
          loop: true,
          autoHeight: true,
          simulateTouch: false
        }
      }
    },
    props: ['data']
  }
</script>
