<template>
    <div>
        <div class="embed-responsive embed-responsive-16by9">
            <iframe class="embed-responsive-item" :src="data.MediaFiles[0].Path" frameborder="0" allowfullscreen></iframe>
        </div>
        <h2 class="title mb-0 mt-1" v-if="data.Title" v-text="data.Title"></h2>
        <small v-if="data.Ancestors && data.Ancestors.length > 0" v-text="data.Ancestors[0].Title"></small>
    </div>
</template>

<script>
  export default {
    props: ['data']
  }
</script>
