<template>
    <div class="container page">
        <h1 class="page-title" v-text="content.Title"></h1>
        <section class="content">
            <div class="row">
                <div class="col-xs-12 col-md-7">
                    <form @submit.prevent="formSubmit">
                        <div :class="['form-group row', {'has-error': errors.has('fullname') }]">
                            <div class="col-md-11 col-lg-9">
                                <input type="text" class="form-control" name="fullname" v-model="fullname" v-validate="'required|min:3'" data-vv-as="Ad soyad" placeholder="Adınız Soyadınız"/>
                                <div v-show="errors.has('fullname')" class="form-control-feedback">{{ errors.first('fullname') }}</div>
                            </div>
                        </div>
                        <div :class="['form-group row', {'has-error': errors.has('email') }]">
                            <div class="col-md-11 col-lg-9">
                                <input type="email" class="form-control" name="email" v-model="email" v-validate="'required|email'" data-vv-as="E-Mail adresi" placeholder="E-Mail Adresiniz">
                                <div v-show="errors.has('email')" class="form-control-feedback">{{ errors.first('email') }}</div>
                            </div>
                        </div>
                        <div :class="['form-group row', {'has-error': errors.has('subject') }]">
                            <div class="col-md-11 col-lg-9">
                                <input type="text" class="form-control" name="subject" v-model="subject" v-validate="'required|min:3'" data-vv-as="Konu" placeholder="Konu"/>
                                <div v-show="errors.has('subject')" class="form-control-feedback">{{ errors.first('subject') }}</div>
                            </div>
                        </div>
                        <div :class="['form-group row', {'has-error': errors.has('message') }]">
                            <div class="col-md-11 col-lg-9">
                                <textarea class="form-control" name="message" v-model="message" v-validate="'required|min:10'" data-vv-as="Mesaj" placeholder="Mesajınız" rows="4"></textarea>
                                <div v-show="errors.has('message')" class="form-control-feedback">{{ errors.first('message') }}</div>
                            </div>
                        </div>
                        <div class="form-group row">
                            <div class="col-md-11 col-lg-9 text-right">
                                <button type="submit" class="btn btn-submit" :disabled="isProcess" v-text="submitStateText"></button>
                            </div>
                        </div>
                    </form>
                    <div v-if="alert.show" :class="['alert', 'alert-' + alert.type]" role="alert">
                        <i v-if="alert.icon" :class="['ds-icon', 'ds-icon-' + alert.icon]"></i> {{ alert.message }}
                    </div>
                </div>
                <div class="col-md-5">
                    <div class="contact-text">
                        <div class="mb-3" v-for="item in regions[0].Controls[0].Properties">
                            <h3 class="title" v-text="item.Name">ADRES</h3>
                            <p v-text="item.Value"></p>
                        </div>
                    </div>
                </div>
            </div>
        </section>
    </div>
</template>

<script>
  import axios from 'axios'

  export default {
    data () {
      return {
        fullname: '',
        email: '',
        subject: '',
        message: '',
        isProcess: false,
        submitStateText: 'GÖNDER',
        alert: {
          type: '',
          message: '',
          icon: '',
          show: false
        }
      }
    },
    methods: {
      formSubmit () {
        let that = this
        this.$validator.validateAll().then(() => {
          that.isProcess = true
          axios.post(`${process.env.apiBaseUrl}/send_contact_form`, {
            Fullname: that.fullname,
            Email: that.email,
            Subject: that.subject,
            Message: that.message
          })
            .then(res => {
              that.isProcess = false
              if (res.data.SendMail) {
                that.showAlert('success', 'Formunuz başarıyla gönderildi. Teşekkürler.')
              }
            })
            .catch(e => {
              that.isProcess = false
              that.showAlert('danger', 'Form gönderilirken hata oluştu!')
            })
        }).catch(() => {
          that.showAlert('danger', 'Hatalı alanlar mevcut!')
        })
      },
      showAlert (type, message, icon) {
        this.alert.type = type
        this.alert.message = message
        if (type === 'success') this.alert.icon = 'circle-check'
        else if (type === 'danger') this.alert.icon = 'circle-close'
        else this.alert.icon = false
        this.alert.show = true
      },
      hideAlert () {
        this.alert.show = false
      }
    },
    computed: {
      content () {
        return this.$store.getters['component/getContent']
      },
      regions () {
        return this.$store.getters['component/getRegions']
      }
    },
    watch: {
      isProcess (val) {
        this.submitStateText = (val) ? 'Gönderiliyor..' : 'GÖNDER'
      }
    }
  }
</script>
