<template>
    <div>
        <div class="container page">
            <h1 class="page-title" v-text="content.Title"></h1>
            <section class="content">
                <img v-if="content.Files && content.Files.length > 0" :src="getImageUri(content.Files[0].id)" class="img-fluid mb-4"/>
                <div v-html="content.Text"></div>
            </section>
        </div>
    </div>
</template>

<script>
  import { helperMixin } from '~/mixins/helper'

  export default {
    mixins: [helperMixin],
    computed: {
      content () {
        return this.$store.getters['component/getContent']
      }
    }
  }
</script>
