<template>
    <div class="serie-detail-slider">
        <div v-swiper:serieSwiper="swiperOption">
            <div class="swiper-wrapper">
                <div class="swiper-slide" v-for="banner in banners">
                    <div class="info">
                        <div class="text-container hidden-md-down">
                            <h1 class="title" v-text="banner.Title"></h1>
                            <p class="detail" v-text="banner.Description"></p>
                        </div>
                        <div class="action" v-if="banner.Content.Properties && banner.Content.Properties.length > 0" v-for="property in banner.Content.Properties">
                            <a class="btn btn-outline-primary" :href="getContentUrl(banner.Content)" @click="openModal(banner.Content, banner.Content.Url)" v-if="property.IxName === 'HeadlineShortText'" v-text="property.Value"></a>
                        </div>
                    </div>
                    <div class="overlay"></div>
                    <img :src="getImageUri(banner.Files[0].id)" class="img-fluid"/>
                </div>
            </div>
            <div class="swiper-button-prev prev-button">
                <i class="ds-icon ds-icon-back ds-icon-3x"></i>
            </div>
            <div class="swiper-button-next next-button">
                <i class="ds-icon ds-icon-next ds-icon-3x"></i>
            </div>
        </div>
    </div>
</template>

<script>
  import { helperMixin } from '~/mixins/helper'
  export default {
    mixins: [helperMixin],
    data () {
      return {
        banners: this.data,
        swiperOption: {
          nextButton: '.swiper-button-next',
          prevButton: '.swiper-button-prev',
          spaceBetween: 0,
          speed: 800,
          loop: true,
          autoHeight: true,
          simulateTouch: false
        }
      }
    },
    props: {
      data: {
        type: Array,
        default () {
          return []
        }
      }
    }
  }
</script>

