<template>
    <div class="main-slider">
        <!-- You can find this swiper instance object in current compomemt by the "mySwiper"  -->
        <div v-swiper:mainSwiper="swiperOption">
            <div class="swiper-wrapper">
                <div class="swiper-slide" v-for="banner in banners">
                    <div class="info container">
                        <div class="text-container">
                            <h1 class="title" v-text="banner.Title"></h1>
                            <ul class="list-unstyled" v-if="banner.Content.Relations && banner.Content.Relations.length > 0">
                                <li v-for="relation in banner.Content.Relations">
                                    <a :href="getContentUrl(relation)" @click="openModal(relation, relation.Url)">
                                        <span :class="['ds-icon', 'ds-icon-' + getIconNameByContentType(relation.CustomType)]"></span>
                                        {{ relation.Title }}
                                    </a>
                                </li>
                            </ul>
                        </div>
                    </div>
                    <img :src="getImageUri(banner.Files[0].id)" class="img-fluid"/>
                </div>
            </div>
            <!--Pagination Bullets-->
            <div class="swiper-pagination pagination-bullets"></div>
            <!-- If we need navigation buttons -->
            <div class="swiper-button-prev prev-button">
                <i class="ds-icon ds-icon-back ds-icon-3x"></i>
            </div>
            <div class="swiper-button-next next-button">
                <i class="ds-icon ds-icon-next ds-icon-3x"></i>
            </div>
        </div>
    </div>
</template>


<script>
  import { helperMixin } from '~/mixins/helper'
  export default {
    mixins: [helperMixin],
    data () {
      return {
        banners: this.data,
        swiperOption: {
          nextButton: '.swiper-button-next',
          prevButton: '.swiper-button-prev',
          pagination: '.swiper-pagination',
          paginationClickable: true,
          spaceBetween: 0,
          speed: 800,
          loop: true,
          autoHeight: true,
          simulateTouch: false
        }
      }
    },
    props: {
      data: {
        type: Array,
        default () {
          return []
        }
      }
    }
  }
</script>
