<template>
    <section class="content-slider">
        <h1 class="page-title" v-text="title"></h1>
        <div v-if="!isFeatured" v-swiper:sectionSwiper="swiperOption">
            <div class="swiper-wrapper">
                <div class="swiper-slide" v-for="content in contents">
                    <card :data="content" :rootData="contents" :class-name="cardType" :image-size="imageSize"/>
                </div>
            </div>
            <div class="swiper-navigation">
                <a href="javascript:;" class="prev-button">
                    <i class="ds-icon ds-icon-back"></i>
                </a>
                <a href="javascript:;" class="next-button">
                    <i class="ds-icon ds-icon-next"></i>
                </a>
            </div>
        </div>
        <div v-if="isFeatured" v-swiper:sectionSwiper="swiperOption">
            <div class="swiper-wrapper">
                <div class="swiper-slide" v-for="content in getSplitArray(contents)">
                    <div class="row">
                        <div class="col-sm-4 mb-3">
                            <card :data="content[0]" class-name="card-inverse overlay" image-size="370x430"/>
                        </div>
                        <div class="col-sm-8 mb-3">
                            <card :data="content[1]" class-name="split mb-2" image-size="425x240"/>
                            <card :data="content[2]" class-name="split" image-size="425x240"/>
                        </div>
                    </div>
                </div>
            </div>
            <div class="swiper-navigation">
                <a href="javascript:;" class="prev-button">
                    <i class="ds-icon ds-icon-back"></i>
                </a>
                <a href="javascript:;" class="next-button">
                    <i class="ds-icon ds-icon-next"></i>
                </a>
            </div>
        </div>
    </section>
</template>

<script>
  import Card from '~components/Card'

  export default {
    data () {
      let dataObj = {
        contents: [],
        cardType: '',
        imageSize: '0x0',
        isFeatured: false,
        viewType: this.getSectionTemplateName(this.data.Properties.find((x) => x.IxName === 'ViewType').SelectValues),
        swiperOption: {
          spaceBetween: 20,
          loop: false,
          simulateTouch: false,
          speed: 800,
          slidesPerView: 3,
          nextButton: '.next-button',
          prevButton: '.prev-button',
          breakpoints: {
            576: {
              slidesPerView: 1.5,
              spaceBetween: 20
            },
            768: {
              slidesPerView: 2,
              spaceBetween: 20
            }
          }
        }
      }
      dataObj.contents = this.data.ContentViews
      switch (dataObj.viewType) {
        case 'Featured':
          dataObj.isFeatured = true
          dataObj.swiperOption.slidesPerView = 1
          dataObj.swiperOption.breakpoints = null
          break
        case 'Introduction':
          dataObj.swiperOption.breakpoints = this.$store.getters['breakpoints/introductionSlides']
          dataObj.imageSize = '360x205'
          break
        case 'PhotoGallery':
          dataObj.cardType = 'overlay'
          dataObj.swiperOption.slidesPerView = 2
          dataObj.swiperOption.breakpoints = this.$store.getters['breakpoints/photoGallerySlides']
          dataObj.imageSize = '550x310'
          break
        case 'Artists':
          dataObj.cardType = 'artist'
          dataObj.swiperOption.slidesPerView = 5
          dataObj.swiperOption.breakpoints = this.$store.getters['breakpoints/artistsSlides']
          dataObj.imageSize = '200x280'
          break
      }
      return dataObj
    },
    mounted () {
      let navigationEl = this.$el.querySelector('.swiper-container > .swiper-navigation')
      this.$el.append(navigationEl)
    },
    props: {
      title: '',
      data: {
        type: Object,
        default () {
          return {}
        }
      }
    },
    methods: {
      slideNext () {
        this.sectionSwiper.slideNext()
      },
      slidePrev () {
        this.sectionSwiper.slidePrev()
      },
      getSectionTemplateName (values) {
        for (var i = 0; i < values.length; i++) {
          if (values[i].Selected) {
            return values[i].IxName
          }
        }
      },
      getSplitArray (arr) {
        let tmpArr = []
        let slicedArr = []
        for (var i in arr) {
          tmpArr.push(arr[i])
          if (tmpArr.length === 3) {
            slicedArr.push(tmpArr)
            tmpArr = []
          }
        }
        return slicedArr
      }
    },
    components: {
      Card
    }
  }
</script>
