<template>
    <footer>
        <nav class="navbar">
            <div class="container">
                <div class="row">
                    <div class="col-xs-12 col-sm-6">
                        <span class="navbar-text" v-if="data.Left" v-text="data.Left"></span>
                    </div>
                    <div class="col text-right">
                        <span class="navbar-text" v-if="data.Right" v-html="data.Right"></span>
                    </div>
                </div>
            </div>
        </nav>
    </footer>
</template>

<script>
  export default {
    props: ['data']
  }
</script>
