<template>
    <header>
        <div id="mySidenav" class="sidenav">
            <a href="javascript:;" v-on:click="sideNavToggle" class="closebtn">
                <i class="ds-icon ds-icon-cancel"></i>
            </a>
            <span class="nav-item title">MENÜ</span>
            <div v-for="item in data.Menu">
                <nuxt-link :to="{path: item.Url}" class="nav-item">{{ item.Name }}</nuxt-link>
            </div>
            <div class="social-menu nav-item hidden-sm-up">
                <a v-for="link in data.SocialLinks" :href="link.Url" target="_blank">
                    <i :class="['ds-icon', 'ds-icon-' + link.Name, 'ds-icon-lg']"></i>
                </a>
            </div>
        </div>
        <div class="sidenav-overlay" v-on:click="sideNavToggle"></div>
        <nav class="navbar">
            <div class="container">
                <div class="row align-items-center">
                    <div class="col">
                        <a href="javascript:;" v-on:click="sideNavToggle" class="navbar-brand">
                            <i class="ds-icon ds-icon-bars ds-icon-lg"></i>
                        </a>
                    </div>
                    <div class="col text-center">
                        <nuxt-link to="/" class="navbar-brand">
                            <img src="~assets/img/logo.png" height="60">
                        </nuxt-link>
                    </div>
                    <div class="col text-right">
                        <div class="social-menu hidden-xs-down">
                            <a v-for="link in data.SocialLinks" :href="link.Url" target="_blank">
                                <i :class="['ds-icon', 'ds-icon-' + link.Name, 'ds-icon-lg']"></i>
                            </a>
                        </div>
                    </div>
                </div>
            </div>
        </nav>
    </header>
</template>

<script>
  export default {
    props: ['data'],
    methods: {
      sideNavToggle () {
        this.$store.commit('TOGGLE_SIDENAV')
        document.getElementsByTagName('body')[0].className = (this.$store.state.sideNavToggle ? 'sidenav-open' : '')
      }
    }
  }
</script>
