<template>
    <div>
        <div v-for="region in regions">
            <component v-if="region.Controls.length > 0" :is="region.Controls[0].IxName"></component>
        </div>
    </div>
</template>

<script>
  import Contact from '~components/controls/Contact'
  import ContentText from '~components/controls/ContentText'

  export default {
    computed: {
      regions () {
        return this.$store.getters['component/getRegions']
      }
    },
    components: {
      Contact,
      ContentText
    }
  }
</script>
