<template>
    <div>
        <div class="heading-img">
            <img :src="getImageUri(coverPhotoId)" class="img-fluid"/>
        </div>
        <div class="container">
            <div class="row">
                <div class="col-sm-6 col-md-8">
                    <detail-slider v-if="regions[0].IxName === 'Headline'" :data="regions[0].Controls[0].ContentViews"></detail-slider>
                </div>
                <div class="col-sm-6 col-md-4">
                    <div class="card detail">
                        <div class="card-block">
                            <div class="card-caption">
                                <h2 class="card-title" v-text="content.Title"></h2>
                                <div class="card-text">
                                    <p v-text="content.Description"></p>
                                </div>
                            </div>
                            <p class="card-text text-right">
                                <a :href="getContentUrl(content)" @click="openModal(content)" :class="['btn-continue', {'active': content.Description.length > 300}]">
                                    <small>Devamı...</small>
                                </a>
                            </p>
                        </div>
                    </div>
                    <div class="btn-group social-buttons">
                        <a href="javascript:;" @click="share('facebook')" class="btn facebook">
                            <i class="ds-icon ds-icon-facebook"></i>
                        </a>
                        <a href="javascript:;" @click="share('twitter', content.Title)" class="btn twitter">
                            <i class="ds-icon ds-icon-twitter"></i>
                        </a>
                        <a href="javascript:;" class="btn instagram">
                            <i class="ds-icon ds-icon-instagram"></i>
                        </a>
                    </div>
                </div>
            </div>
            <div v-for="region in regions">
                <section-slider v-if="isSlider(region.IxName)" :data="region.Controls[0]" :title="region.Name"></section-slider>
            </div>
        </div>
    </div>
</template>


<script>
  import DetailSlider from '~components/controls/DetailSlider'
  import SectionSlider from '~components/controls/SectionSlider'
  import { helperMixin } from '~/mixins/helper'

  export default {
    mixins: [helperMixin],
    async fetch ({store, route, redirect}) {
      try {
        await store.dispatch('component/fetch', route.path)
      } catch (e) {
        redirect('/404')
      }
    },
    computed: {
      regions () {
        return this.$store.getters['component/getRegions']
      },
      content () {
        let content = this.$store.getters['component/getContent']
        content.ContentType = 'Detail'
        return content
      },
      coverPhotoId () {
        let content = this.$store.getters['component/getContent']
        return content.Files.find((x) => x.Metadata.Section === 'coverphoto').id
      }
    },
    methods: {
      isSlider (name) {
        return name === 'Introduction' || name === 'PhotoGallery' || name === 'Artist' || name === 'Featured'
      }
    },
    components: {
      DetailSlider,
      SectionSlider
    }
  }
</script>
